<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryanhuen.rxjava2demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".base.BaseImplActivity" />
        <activity android:name=".base.LineHandleActivity" />
        <activity android:name=".base.DisposeInProcessActivity" />
        <activity android:name=".base.JustEmitterActivity" />
        <activity android:name=".thread_control.DefaultThreadActivity" />
        <activity android:name=".thread_control.ChangeThreadActivity" />
        <activity android:name=".thread_control.MultiThreadChangeActivity" />
        <activity android:name=".operators.MapOperatorActivity" />
        <activity android:name=".operators.FlatMapOperatorActivity" />
        <activity android:name=".operators.ConcatMapOperatorActivity" />
        <activity android:name=".operators.ZipOperatorActivity" />
        <activity android:name=".flowable.UnlimitPostActivity" />
        <activity android:name=".flowable.BaseFlowableActivity" />
        <activity android:name=".usebus.UseBusActivity" />
        <activity android:name=".base.IterableEmitterActivity" />
        <activity android:name=".base.DisposeContainerActivity"></activity>
    </application>

</manifest>